<div class="wrapper">
  
    <div class="text-center mt-4 name">
        Sign Up
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="firstName" id="firstName" placeholder="First Name">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="text" name="lastName" id="lastName" placeholder="Last Name">
        </div>

        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="email" name="email" id="email" placeholder="Email Id">
        </div>

        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>

        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
        </div>

        <button class="btn mt-3" >Sign Up</button>
    </form>
    <div class="text-center fs-6">
        <a href="auth">Already have an account? Login</a>
    </div>
  </div>

