:host {
  display: block;
  padding: 3rem;
  width: 500px;
  
  border-radius: 1rem;
  margin: 3rem auto 0;
  background-color: rgba(156, 45, 45, 0.1);
}
.login-btn{
 color: rgb(168, 72, 61);
}
h1 {
  text-align: center;
  font-size: 2rem;
  color: light-accent-A200;
}
.error{
  color: red;
  font-size: 10px;
}
mat-grid-list {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  .signup-btn {
    width: 75%;
    height: 50%;
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(107, 107, 11);
  }
}

mat-form-field {
  width: 50.67%;
  transform: scale(1.5);
}

.login-link {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
